<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Label Submit - Labelz</title>
</head>
<body id="form">
    <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        <label for="label-upload">CSV File
        	<input type="file" name="label-upload" />
    	</label>
        <br />
        <label for="label-type">Layout
	        <select name="label-type">
	        {% for template in templates %}
		        <option value="{{template}}">{{template|replace("-"," ")}}</option>
	        {% endfor %}
	        </select>
        </label>
        <br />    	
        <input type="submit" value="Create Label" />
    </form>
</body>
</html>