<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cadastro de Label - Labelz</title>
    <link href="css/default.css" rel="stylesheet" type="text/css" >
</head>
<body>
    <form>
        <label for="label-type">
            <select name="label-type">
                {% for template in templates %}
                    <option value="{{template.key.string_id()}">{{template.key.string_id()|replace("-"," ")}}</option>
                {% endfor %}
            </select>
        </label>
        <input type="file" name="label-upload" />
    </form>
</body>
</html>