{% extends "base.html" %}
{% block title %}CSV Label - Print{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/css/{{ key }}.css" />
	<style>
		/* body {
			background: url('/static/images/label2.png') no-repeat;
			background-size: 8.5in 11in;
		} */
	</style>
	{% if label_barcode == "True" %}
	<script>
	$(document).ready(function(){
		$('.barcode').each(function() {
			$(this).barcode(
				$(this).parent().text(),
				"code128",
				{showHRI: false}
			);
		});
	});
	</script>
	{% endif %}
{% endblock %}
{% block content %}
	{% for label in labels %}
		{% if labels.index(label) != 0 and labels.index(label) % labels_per_page == 0 %}
			<div class="page-break"></div>
		{% endif %}
		
		<div class="label">
			<span class="{% if label_orientation == "rotated" %}rotated{% else %}normal{% endif %}" {% if label_font_size %}style="font-size:{{label_font_size}}px;"{% endif %}>{% if label_barcode == "True" %}<div class="barcode"></div>{% endif %}{{ label.0 }}</span>
		</div>
	{% endfor %}
{% endblock %}