    * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    body {
        width: 8.5in; 
        }
    .label{
        width: 2.625in;
        height: 1in;
        border-radius: 0.0625in; -webkit-border-radius: 0.0625in; -moz-border-radius: 0.0625in; 
        padding: .15in .0937in 0;
        margin-right: 0.0625in;
        float: left;
        text-align: center;
        outline: #555 dashed 1px;
        overflow: hidden;
        }
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
