body { 
	width: {{ paper_width }}in;
	margin: {{ top_margin }}in {{ left_margin }}in;
}

.label { 
	background: black;
	width: {{ label_width }}in; 
	height: {{ label_height }}in;
	//margin: {{ vertical_space }}in {{ horizontal_space}}in 0 0;
	//padding: 0 {{ label_margin }}in;  

	float: left;
    text-align: center;
    overflow: hidden;

	outline: 1px dotted;
}

.rotated {
	background: red;
	float: left;
	width: {{ label_width }}in;
	height: {{ label_height }}in;
	transform: rotate(-90deg);
}

.page-break { 
	clear: left;
	display: block; 
	page-break-after: always;
}